<ion-view title="Home" id="page1" style="">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1" style="">
    <ion-tab title="Local files" icon="ion-ios-folder-outline" href="#/page1/files" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Shared with me" icon="ion-ios-cloud-outline" href="#/page1/shared" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Settings" icon="ion-ios-gear-outline" href="#/page1/settings" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
